@use '../custom' as *;
@use '../components/mixins' as *;
.menu {
    @include gradient;

   li {
    padding: 0 0.7rem;
   }
   a {
    color: white !important;
    text-transform: capitalize;
    font-weight: 600;
   }
   h2 {
    color: white !important;
    text-transform: capitalize;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2.5rem;
   }
}